@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tiro+Gurmukhi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,400;6..96,500;6..96,600;6..96,900&family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,400;6..96,500;6..96,600;6..96,900&family=Inter:wght@400;600;800&display=swap");

body {
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #030723;
    font-size: calc(60% + 0.8vmin);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .important-size {
        @apply h-16;
    }

    .admin-bg {
        @apply bg-bg_admin w-screen h-screen;
    }

    .box {
        /* @apply border border-text_color; */
    }

    .line {
        @apply border-t border-text_gold;
    }

    .line-profile {
        @apply border-t border-text_green mt-2 opacity-20;
    }

    .input {
        @apply drop-shadow-2xl text-sm  rounded-lg py-3 pl-4;
    }
    .submit {
        @apply drop-shadow-2xl text-lg  rounded-lg py-2 w-3/5 text-center border-0 text-text_color;
    }

    .p-small {
        @apply text-text_color;
    }
    .p-smaller {
        @apply text-text_color text-lg;
    }
    .p-footer {
        @apply text-text_gold text-lg;
    }
    .p-pick {
        @apply text-text_gold;
    }

    .photoHowtoStep {
        @apply max-w-3xl;
    }
    .textHowtoStep {
        @apply text-white text-3xl max-w-7xl;
    }
    .HowToDesripStepElement {
        @apply items-center flex flex-col gap-10 mt-32;
    }

    .img {
        @apply w-full h-full object-cover;
    }
}

@layer base {
    p {
        @apply text-text_color text-xl;
    }

    h6 {
        @apply text-text_color text-2xl;
    }

    h5 {
        @apply text-text_green text-5xl font-semibold;
    }

    h1 {
        @apply text-text_color text-8xl font-semibold font-sans;
    }

    h2 {
        @apply text-text_color text-7xl font-normal font-sans;
    }

    h3 {
        @apply text-text_color text-6xl font-normal font-sans;
    }
    h4 {
        @apply text-text_color text-4xl font-normal font-sans;
    }
}
